@use 'bulma';

$stagePadding: 8px;

.navbar {
  background-color: transparent;
}

.react-sigma {
  user-select: none;
}

$panelWidth: 350px;

.panels {
  position: absolute;
  bottom: 0;
  right: 0;
  width: $panelWidth;
  max-height: calc(100vh - 2 * $stagePadding);
  overflow-y: auto;
  padding: $stagePadding;
  scrollbar-width: thin;

  >:not(:last-child) {
    margin-bottom: $stagePadding;
  }
}